body {
    margin: 0px;
    padding: 0px;
    background-color:#652ebf;
    color:#fff;
    font-family: 'Trebuchet MS',Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game {
    display: flex;
}
.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card {
    width: 200px;
    height: 120px;
    border: 5px solid yellow;
    border-radius: 20px;
    background-color:#4e4eac;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-size: 100px;
}
.correct-answer {
    background-color:#f18760;
}
.wrong-answer {
    background-color:#c73b1e;
}
.true-button {
    background-color:#63b36e;
}
.false-button {
    background-color:#aa231e;
}
button {
    margin: 5px;
}